<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ups.projetmcs">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/jumping_sumo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.JumpysEars"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Activities.AccueilActivity"
            android:label="AccueilActivity" >
        </activity>
        <activity
            android:name=".Activities.AvanceActivity"
            android:label="AvanceActivity" >
        </activity>
        <activity
            android:name=".Activities.GaucheActivity"
            android:label="GaucheActivity" >
        </activity>
        <activity
            android:name=".Activities.TourneGaucheActivity"
            android:label="TourneGaucheActivity" >
        </activity>
        <activity
            android:name=".Activities.ReculeActivity"
            android:label="ReculeActivity" >
        </activity>
        <activity
            android:name=".Activities.EtatUrgenceActivity"
            android:label="EtatUrgenceActivity" >
        </activity>
        <activity
            android:name=".Activities.FlipActivity"
            android:label="FlipActivity" >
        </activity>
        <activity
            android:name=".Activities.DroiteActivity"
            android:label="DroiteActivity" >
        </activity>
        <activity
            android:name=".Activities.ArreteToiActivity"
            android:label="ArreteToiActivity" >
        </activity>
        <activity
            android:name=".Activities.TourneDroiteActivity"
            android:label="TourneDroiteActivity" >
        </activity>
    </application>

</manifest>
